#wrapper  
  .header
    = render partial: "layouts/header"
  .nav
    .nav-menu
      %ul
        %li<
          = link_to "マイページ", user_path(current_user)
        %li<
          最新コメント
        %li<
          招待ユーザー
    .nav-month
      %ul
        %li 5月
        %li 4月
        %li 3月
        %li 2月
        %li 1月
        %li 12月
        %li 11月
        %li 10月
        %li 9月
        %li 8月
        %li 7月
        %li 6月

  .content
    - @posts.each_with_index do |post, index|
      .content__post
        = link_to image_tag("#{post.image}", class: "img"), post_path(post.id)
    = paginate(@posts)
  .footer
    = render partial: "layouts/footer"



    