.header
  .header__logo
    = link_to posts_path do
      = image_tag "mitene-logo.png", width:'120px', height:'50px'
  .header__lists
    - if user_signed_in?
      .header__lists--list
        = link_to  "投稿する", new_post_path
      .header__lists--list
        = link_to user_path(current_user) do
          = current_user.username
      .header__lists--list
        = link_to "ログアウト", destroy_user_session_path, method: :delete
    -# - else
    -#   .header__lists--list
    -#     = link_to "ログイン", new_user_session_path, class: 'post'
    -#   .header__lists--list
    -#     = link_to "新規登録", new_user_registration_path, class: 'post'